{% extends 'base.html.twig' %}

{% block content %}
    
    <h1>REGISTER</h1>
    <div class="form-div align-center">
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Register"
               class="btn btn-default pull-left" />
    {{ form_end(form) }}
    </div>
{% endblock %}