{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    {% for movie in movies %}
        <a href="{{ path('showmovie', {'movieId':movie.id}) }}">
            <div>
                <p>{{ movie.movieTitle }}</p>
            </div>
        </a>
    {% endfor %}
{% endblock %}