{% extends 'header/headerbase.html.twig' %}
{% block content %}
<div class="header sticky">
	<a href="#default" class="logo">IMDB++</a>
	<div class="header-right">
		<a href="{{ path('login') }}">Login</a> 
		<a href="{{ path('listmovies') }}">Movies</a>
	</div>
</div>
{% endblock %}